<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.freeuc.earn">

    <application
        android:name=".PubgUC"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.WithdrawActivity"/>
        <activity android:name=".activities.EarnMoreActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".activities.ScriptActivity" />
        <activity
            android:name=".activities.BuyUCActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".activities.AuthActivity" />
        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.Main2Activity" />
        <activity android:name=".activities.SpinActivity" />
        <activity android:name=".activities.AddMoneyActivity" />
        <activity
            android:name=".activities.ContentActivity"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>